<html>

<p>Introduce your Current Rank</p>
    
<select id="currentRank">
  <option value="1000">Bronze</option>
  <option value="1500">Silver</option>
  <option value="2000">Gold</option>
  <option value="2500">Plat</option>
  <option value="3000">Diamond</option>
  <option value="3500">Master</option>
  <option value="4000">Grand Master</option>
  <option value="4500">Grand Master Max</option>
</select>    

                                
    
<p>Introduce the Desired Rank</p>

<select id="desiredRank">
  <option value="1000">Bronze</option>
  <option value="1500">Silver</option>
  <option value="2000">Gold</option>
  <option value="2500">Plat</option>
  <option value="3000">Diamond</option>
  <option value="3500">Master</option>
  <option value="4000">Grand Master</option>
  <option value="4500">Grand Master</option>
</select>    


    <br><br>
<button onclick="getPrice()">Submit</button>
<label for="totalPrice">Total Price: </label>
<label id ="price"> 0 </label>
<label for="euros">Euros</label>

    
<script>
    
    function calcDiference(desiredRank, currentRank){
        return desiredRank - currentRank;
    } 
    
    function calcPrice(desiredRank, currentRank, diference){
        
        var price = 0;
        //price = diference * 0.03;
        
        /*while(){*/
              
        //if diference is the same but the levels are easier
        if(){
            price = diference * 0.03;
           }
            else
                //if diference is the same but the levels are harder
                if(){
                    price = diference * 0.03;
                   }
                   else
                        //if diference is very high
                        if(){
                            price = diference * 0.03;
                         }
            //}
        
        return price;
    }
    
    function getPrice(){
        
        var price = 0;
        
        //Gets the actuall rank
        var currentRank = document.getElementById("currentRank").value;
        var desiredRank = document.getElementById("desiredRank").value;
              
        //Gets the difference to another variable
        var diference = calcDiference(desiredRank, currentRank);
        
        var currentRank2 = currentRank;
        var desiredRank2 = desiredRank;
            
            if(desiredRank == parseInt(currentRank) + diference){
            
                //Only stops the do while cycle when the variables all the variables match with his own pair
                do{
                
                    if ((currentRank == currentRank2) && (desiredRank == desiredRank2)){
                        
                        //Gets the price
                        price = calcPrice(desiredRank, currentRank, diference);
            
                    }
                
                    //Do a if that increments the currentRank2 until it matches the currentRank and after that being done, does the same thing to the desiredRank2 and increments until it matches the desiredRank
                    
                    if(currentRank != currentRank2){
                        currentRank2 += 500;
                     }
                       else
                            if(desiredRank != desiredRank2){
                                desiredRank2 += 500;
                             }
                    
                    
                }while((desiredRank != desiredRank2) && (currentRank != currentRank2))
            }
        console.log(price);
        document.getElementById("price").innerHTML = price.toFixed(2);
    }
    
    
    
        /*if (desiredRank == parseInt(currentRank) + 500){
            
            if ((currentRank == 500) && (desiredRank == 1500)){
            preco = 31.41;  
            document.getElementById("price").innerHTML = preco.toFixed(2);
            }
              else
                    if ((currentRank == 1500) && (desiredRank == 2000)){
                    preco = 29.07;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
                    }
                    else
                        if ((currentRank == 2000) && (desiredRank == 2500)){
                        preco = 36.20;  
                        document.getElementById("price").innerHTML = preco.toFixed(2);
                        }
                        else
                            if ((currentRank == 2500) && (desiredRank == 3000)){
                            preco = 51.48;  
                            document.getElementById("price").innerHTML = preco.toFixed(2);
                            }
                            else
                                if ((currentRank == 3000) && (desiredRank == 3500)){
                                preco = 99.11;  
                                document.getElementById("price").innerHTML = preco.toFixed(2);
                                }
                                else
                                    if ((currentRank == 3500) && (desiredRank == 4000)){
                                    preco = 202.70;  
                                    document.getElementById("price").innerHTML = preco.toFixed(2);
                                    }
                                    else
                                        if ((currentRank == 4000) && (desiredRank == 4481)){
                                        preco = 932.46;  
                                        document.getElementById("price").innerHTML = preco.toFixed(2);
                                        }
        }
        else 
        if(desiredRank == parseInt(currentRank) + 1000){
            
            if ((currentRank == 500) && (desiredRank == 1500)){
            preco = 31.41;  
            document.getElementById("price").innerHTML = preco.toFixed(2);
            }
            else
                if ((currentRank == 1500) && (desiredRank == 2500)){
                    preco = 63.75;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
                }
                else
                    if ((currentRank == 2500) && (desiredRank == 3500)){
                        preco = 141.95;  
                        document.getElementById("price").innerHTML = preco.toFixed(2);
                    }
                    else
                        if ((currentRank == 3500) && (desiredRank == 4481)){
                            preco = 932.46;  
                            document.getElementById("price").innerHTML = preco.toFixed(2);
                        }
                        else
                            if ((currentRank == 2000) && (desiredRank == 3000)){
                                preco = 87.58;  
                                document.getElementById("price").innerHTML = preco.toFixed(2);
                            }
                            else
                                if ((currentRank == 3000) && (desiredRank == 4000)){
                                    preco = 292.95;  
                                    document.getElementById("price").innerHTML = preco.toFixed(2);
                                }
        }
        else if(desiredRank == parseInt(currentRank) + 1500){
            
                if ((currentRank == 500) && (desiredRank == 2000)){
                    preco = 58.97;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
                }
                else
                    if ((currentRank == 1500) && (desiredRank == 3000)){
                        preco = 115.13;  
                        document.getElementById("price").innerHTML = preco.toFixed(2);
                    }
                    else
                        if ((currentRank == 2000) && (desiredRank == 3500)){
                            preco = 178.05;  
                            document.getElementById("price").innerHTML = preco.toFixed(2);
                        }
                        else
                            if ((currentRank == 2500) && (desiredRank == 4000)){
                                preco = 344.25;  
                                document.getElementById("price").innerHTML = preco.toFixed(2);
                            }   
        }
        else if(desiredRank == parseInt(currentRank) + 2000){
            
                 if ((currentRank == 500) && (desiredRank == 2500)){
                        preco = 95.10;  
                        document.getElementById("price").innerHTML = preco.toFixed(2);
                 }
                 else
                     if ((currentRank == 1500) && (desiredRank == 3500)){
                            preco = 205.60;  
                            document.getElementById("price").innerHTML = preco.toFixed(2);
                        }
                        else
                            if ((currentRank == 2000) && (desiredRank == 4000)){
                                preco = 380.35;  
                                document.getElementById("price").innerHTML = preco.toFixed(2);
                            }
                            else
                                 if ((currentRank == 2500) && (desiredRank == 4481)){
                                        preco = 1074.01;  
                                        document.getElementById("price").innerHTML = preco.toFixed(2);
                                  }
        }
        else if(desiredRank == parseInt(currentRank) + 2500){
            
            if ((currentRank == 500) && (desiredRank == 3000)){
                    preco = 146.48;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
             }
              else
                   if ((currentRank == 1500) && (desiredRank == 4000)){
                        preco = 407.90;  
                        document.getElementById("price").innerHTML = preco.toFixed(2);
                    }
                        
        }
        else if(desiredRank == parseInt(currentRank) + 3000){
            
            if ((currentRank == 500) && (desiredRank == 3500)){
                    preco = 236.95;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
             }
        }
        else if(desiredRank == parseInt(currentRank) + 3500){
            
            if ((currentRank == 500) && (desiredRank == 4000)){
                    preco = 439.25;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
             }
            
        else if ((currentRank == 500) && (desiredRank == 4481)){
                    preco = 1169.01;  
                    document.getElementById("price").innerHTML = preco.toFixed(2);
             }
        }*/
                   
       
    
    
</script>
    
</html>